YYY

<div class="form-group" id="froala-editor">
  <%= f.label :name %>
  <%= f.text_area :name, id: "wysiwyg" %>
</div>

<div >
  <p>Click the Code View button to see the editor content's HTML.</p>
  <img src="/assets/editor/docs/photo14.jpg" class="fr-fil" alt="book" width="150"/>
</div>





<%= f.submit "更新",:class => "btn btn-primary" %>

<hr>

<script>
  $(function() {
    $('div#froala-editor').froalaEditor();
  });
</script>