<h1> 策展頁面</h1>

<h2>
  策展名稱：<%= @event.name%> <%= link_to "編輯", edit_admin_event_path(@event), :class => "btn btn-success" %>
</h2>
<hr>
<div class="div" id="event-logo">
  <% if @event.logo.exists? %>
    <%= image_tag(@event.logo.url(:original))%>
  <%end%>
</div>


<hr>
  <h1>中間是活動s</h1>
<hr>

<div class="col-md-6 col-md-offset-3 text-center">
  <h3>策展敘事</h3>
  <%=raw @event.content%>
</div>
