<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<% if @user.mail_subdomain %>
	<% @sub = @user.mail_subdomain%>
<% else %>
	<% @sub = Activity.where.not(:subdomain => nil).where(:status => 1).order("created_at DESC").first.subdomain%>
<% end %>

<% @front_domain = YAML.load(File.read("#{Rails.root}/config/domain_variables.yml"))[Rails.env]["FRONT_DOMAIN"]%>

<p><%= link_to 'Confirm my account', "http://#{@sub}.#{@front_domain}?confirm_ok&confirmation_token=#{@token}&email=#{@email}"%></p>
