<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', "#{YAML.load(File.read("#{Rails.root}/config/domain_variables.yml"))[Rails.env]["FRONT_DOMAIN"]}/star/index.php?eventsId=1&reset_password_token=#{@token}#mailpw" %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
